NEXT_PUBLIC_SITE_URL=https://worthclock.com
NEXT_PUBLIC_CAL_EMBED_URL=
NEXT_PUBLIC_REFUND_NOTIFY_EMAIL=info@worthclock.com
NEXT_PUBLIC_REFUND_CC_EMAIL=shanghoshyar@gmail.com
REFUND_NOTIFY_EMAIL=info@worthclock.com
RESEND_API_KEY=
